<div [ngClass]="theme == Dark ? 'Dark' : 'Light'" class="container mt-4" style="height: auto;">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control search-input" placeholder="Search books..." [(ngModel)]="searchTerm" (ngModelChange)="searchBooks()">
        </div>
    </div>
    <div class="row mt-4">
    <!-- Book Cards -->
    <div class="col-md-3" *ngFor="let book of searchedBooks">
        <div class="card mb-4 book-card dark-theme">
            <img [src]="modifyImageUrl(book.image)" class="card-img-top" alt="Book Image">
            <div class="card-body">
                <h5 class="card-title text-light overflow-ellipsis">{{ book.title }}</h5>
                <p class="card-text text-light">Year: {{ book.year }}</p>
                <p class="card-text text-light">Downloads: {{ book.downloads }}</p>
                <!-- Buttons -->
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary btn-dark" (click)="previewBook(book)">Preview</button>
                    <button class="btn btn-primary btn-dark" (click)="downloadBook(book)">Download</button>
                </div>
            </div>
        </div>
    </div>
        
        
        <div *ngIf="searchedBooks.length === 0" class="col-md-12">
            <p class="text-center text-light">No books found.</p>
        </div>
    </div>

<div class="modal pt-20 " tabindex="-1" role="dialog" [ngClass]="{'show': previewUrl, 'd-block': previewUrl}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-light">{{ selectedBook?.title }}</h5>
                <button type="button" class="close text-light" aria-label="Close" (click)="closePreview()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe *ngIf="previewUrl" [src]="previewUrl" frameborder="0" width="100%" height="700px"></iframe>
            </div>
        </div>
    </div>
</div>

</div>