/* book.component.css */

.container {
    padding: 20px;
  }
  
  .categories {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .categories h3 {
    margin-top: 0;
  }
  
  .categories ul {
    list-style-type: none;
    padding: 0;
  }
  
  .categories li {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  
  .categories li:hover {
    background-color: #e0e0e0;
  }
  
  .search-bar {
    margin-top: 20px;
  }
  
  .book-tiles {
    margin-top: 20px;
  }
  
  .top-books {
    margin-top: 20px;
  }
  
  .book-tile {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .book-tile h4,
  .top-book h4 {
    margin-top: 0;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    margin-bottom: 0;
  }
  




  /* Search input */
  .search-input {
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .search-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* Book Cards */
  .book-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }

  .book-card:hover {
    transform: translateY(-5px);
  }

  .book-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }

  .book-card .card-body {
    padding: 20px;
  }

  .book-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .book-card .card-text {
    font-size: 1rem;
    color: #6c757d;
  }

  .book-card .btn {
    font-size: 1rem;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 25px;
  }

  .book-card .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .book-card .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  /* Preview Modal */
  .modal-content {
    border-radius: 15px;
  }

  .modal-header {
    border-bottom: none;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    background-color: #007bff;
    color: #fff;
  }

  .modal-header .modal-title {
    font-size: 1.5rem;
  }

  .modal-header .close {
    color: #fff;
    position: absolute; /* Set position to absolute for positioning */
    top: 15px; /* Set distance from top */
    right: 10px; /* Set distance from right */
    font-size: 1.5rem; /* Set font size */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .modal-body {
    padding: 20px;
  }

  .modal-body iframe {
    border: none;
    width: 100%;
    height: 700px;
  }






    .container {
        padding: 0 15px;
        max-width: 100%;
    }

    

    .card {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
        box-sizing: border-box; /* Ensure padding and border are included in the width */
    }
    
    @media (max-width: 300px) {
        .card-body {
            padding: 10px;
        }
    }
    

    .card-body {
        padding: 15px;
    }

    .card-img-top {
        width: 100%;
        height: auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .card-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    @media (max-width: 300px) {
        .card-img-top {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }




    .spinner {
        border: 6px solid rgba(255, 255, 255, 0.3); /* Adjust border width and color for visibility */
        border-top-color: #333; /* Color of the spinner */
        border-radius: 50%;
        width: 60px; /* Increase the size of the spinner */
        height: 60px; /* Increase the size of the spinner */
        animation: spin 1s linear infinite;
      }
      
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      .spinner-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
        background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
        z-index: 9999; /* Ensure it's above other content */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      







.Dark  {

  background-color: #2d333a;
  color: #b6c0ca;
  padding: 1rem;
  height: 100%;

  .dark-theme {
    background-color: #222;
    color: #fff;
}

.dark-theme .card-img-top {
    filter: brightness(70%);
}

.dark-theme .btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.dark-theme .btn-dark:hover {
    background-color: #23272b;
    border-color: #23272b;
}

.dark-theme .modal-content {
    background-color: #222;
    color: #fff;
    border-color: #343a40;
}

.dark-theme .modal-header {
    border-bottom: 1px solid #343a40;
}

.dark-theme .close {
    color: #fff;
}

.dark-theme .close:hover {
    color: #fff;
    opacity: 0.8;
}

.card-title,
.card-text {
    overflow: hidden;
    text-overflow: ellipsis; /* Truncate text with ellipsis if it overflows */
    white-space: nowrap; /* Prevent text from wrapping */
}

/* Base styles for the card */
.book-card {
  width: 350px; /* Default width */
  height: 500px; /* Default height */
  overflow: hidden; /* Hide overflowing content */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .book-card {
      width: 500px; /* Adjust width for smaller screens */
      height: 500px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 576px) {
  .book-card {
      width: 370px; /* Further adjust width for even smaller screens */
      height: 500px; /* Further adjust height for even smaller screens */
  }
}



}

.Light {


  background-color: #b6c0ca;
  color: #2d333a;
  padding: 1rem;
  height: 100%;


  .dark-theme {
    background-color: #5e737f;
    color: #22262b;
}

.dark-theme .card-img-top {
    filter: brightness(90%);
}

.dark-theme .btn-dark {
    background-color: #b6c0ca;
    border-color: #b6c0ca;
    color: #2d333a;
}

.dark-theme .btn-dark:hover {
    background-color: #708090;
    border-color: #708090;
}

.dark-theme .modal-content {
    background-color: #bec5d1;
    color: #22262b;
    border-color: #b6c0ca;
}

.dark-theme .modal-header {
    border-bottom: 1px solid #b6c0ca;
}

.dark-theme .close {
    color: #22262b;
}

.dark-theme .close:hover {
    color: #22262b;
    opacity: 0.8;
}

.dark-theme .card-title {
    color: #1a1e21; /* Darker text color for titles */
}

.dark-theme .card-text {
    color: #2e3237; /* Slightly darker text color for regular text */
}

.dark-theme p {
    color: #2e3237; /* Slightly darker text color for regular text */
}

.dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme h5, .dark-theme h6 {
    color: #0e1113; /* Darkest text color for headings */
}




.card-title,
.card-text {
    overflow: hidden;
    text-overflow: ellipsis; /* Truncate text with ellipsis if it overflows */
    white-space: nowrap; /* Prevent text from wrapping */
}

/* Base styles for the card */
.book-card {
  width: 350px; /* Default width */
  height: 500px; /* Default height */
  overflow: hidden; /* Hide overflowing content */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .book-card {
      width: 500px; /* Adjust width for smaller screens */
      height: 500px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 576px) {
  .book-card {
      width: 370px; /* Further adjust width for even smaller screens */
      height: 500px; /* Further adjust height for even smaller screens */
  }
}



@media (max-width: 300px) {
    .book-card {
        width: 250px; /* Further adjust width for even smaller screens */
        height: 400px; /* Further adjust height for even smaller screens */
    }
  }

.card-body {
  color: #22262b ;
}


}



