
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  color: #313131;
  font-family: "Times New Roman", serif;
  background-color: #673ab7;
  background: linear-gradient(
    45deg,
    rgba(103,58,183,1) 0%,
    rgba(138,34,170,1) 100%
  );
}



aside {
  flex-basis: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  color: e0e0e0;
  line-height: 1.5;
  
  .title,
  .subtitle,
  .description {
    font-family: Georgia, Serif;
    font-style: italic;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  }
  
  .title {
    font-weight: bold;
    font-size: 2em;
  }
  
  .subtitle {
    font-size: 1.5em;
  }
  
  .description {
    margin-top: 24px;
    font-size: 1.2em;
  }
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.book-card {
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  background-color: e0e0e0;
  box-shadow:
    0 3px 4px rgba(0, 0, 0, 0.16),
    0 3px 4px rgba(0, 0, 0, 0.23);

  .book-card__cover {
    position: relative;
    width: 80%;
    height: 300px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
  }
  
  .book-card__book {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
  }

  .book-card__book-front {
    position: absolute;
    height: 100%;
  }
   
   .book-card__book-back {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      transform: translateZ(-40px);
   }

  .book-card__book-side {
    position: absolute;
    top: 5px;
    bottom: 2px;
    right: -29px;
    width: 40px;
    background-size: 5px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg);
  }
   
  .book-card__img {
    width: 80%;
    height: 100%;
    background-color: #e1e1e1;
  }

  .book-card__title {
    font-size: 1.5em;
    margin-bottom: 8px;
    width: 95; /* Set the width of the container */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
  }

  .book-card__author {
    color: #757575;
    font-size: 1em;
  }

 
  &:hover {
    .book-card__book{
      transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
    }
    
    .book-card__book-back {
      box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
    }
    
    .book-card__book-side {
      opacity: 1;
    }
  }
}

.book-card {
  border: none;
  border-radius: 10px;
  /* overflow: hidden; */
  transition: transform 0.3s ease;
}





.card {
  /* width: 100%;
  max-width: 100%; */
  margin-bottom: 20px;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}



.spinner {
  border: 6px solid rgba(255, 255, 255, 0.3); /* Adjust border width and color for visibility */
  border-top-color: #333; /* Color of the spinner */
  border-radius: 50%;
  width: 60px; /* Increase the size of the spinner */
  height: 60px; /* Increase the size of the spinner */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
  z-index: 9999; /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}



.container {
  padding: 0 15px;
  max-width: 100%;
}










.Dark  {

  background-color: #222222;
  color: #e0e0e0;
  padding: 1rem;
  height: 100%;

  .book-card.with-border {
    border: 1px solid #868686;
}


  .searchBar {
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 2rem;
  }
  
  #searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #363636;
    outline: none;
    border: 1px solid #868686;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }
  
  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }

  .dark-theme {
    background-color: #363636;
    color:#e0e0e0
}

.dark-theme .card-img-top {
    filter: brightness(70%);
}

.dark-theme .btn-dark {
    background-color: #707070;
}

.dark-theme .btn-dark:hover {
    background-color: #23272b;

}


/* CSS for hover animation */
.btn-primary:hover {
  transform: scale(1.1); /* Scale the button on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}

/* Button styles */
.btn-preview,
.btn-download {
  background-color: #424242;
  border: none;
  color: rgb(211, 211, 211);
  padding: 12px 24px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

/* Button hover styles */
.btn-preview:hover,
.btn-download:hover {
  background-color: #7a7a7a;
}

/* Icon styles */
/* .btn-preview i,
.btn-download i {
  margin-right: 8px;
} */

/* Preview button specific styles */
.btn-preview {
  background-color: #414141; /* Blue color for preview button */
}

/* Download button specific styles */
.btn-download {
  background-color: #424242; /* Yellow color for download button */
}

/* Animation for buttons on hover */
.btn-preview:hover,
.btn-download:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}



}

.Light {


  background-color: #e0e0e0;
  color: #222222;
  padding: 1rem;
  height: 100%;

  .book-card.with-border {
    border: 1px solid #797979;
}


  .searchBar {
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 2rem;
  }
  
  #searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #d4d4d4;
    outline: none;
    border: 1px solid #797979;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    color: #1f1f1f;
  }
  
  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }



  .dark-theme {
    background-color: #b6b6b6;
    color: #22262b;
}



.dark-theme .btn-dark {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #222222;
}

.dark-theme .btn-dark:hover {
    background-color: #708090;
    border-color: #708090;
}


/* CSS for hover animation */
.btn-primary:hover {
  transform: scale(1.1); /* Scale the button on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}


/* Button styles */
.btn-preview,
.btn-download {
  background-color: #d1d1d1;
  border: none;
  color: rgb(43, 43, 43);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

/* Button hover styles */
.btn-preview:hover,
.btn-download:hover {
  background-color: #9e9e9e;
}

/* Icon styles */
/* .btn-preview i,
.btn-download i {
  margin-right: 8px;
} */

/* Preview button specific styles */
.btn-preview {
  background-color: #cccccc; /* Blue color for preview button */
}

/* Download button specific styles */
.btn-download {
  background-color: #d8d8d8; /* Yellow color for download button */
}

/* Animation for buttons on hover */
.btn-preview:hover,
.btn-download:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}



}