<nav [ngClass]="theme == Dark ? 'Dark' : 'Light'" class="  mat-dark-theme bg-white shadow fixed top-0 w-full z-30">
  <div class="mx-auto">
    <div class="flex justify-between items-center py-4">
      <a href="#" class="flex items-center text-lg font-semibold" routerLink="/home" routerLinkActive="active">
        <img src="assets/Images/logo.png" alt="Logo" class="h-12 mr-2"> <!-- Adjust the class to control the size of the logo -->
        Books Studio
      </a>
      <button (click)="toggleMenu()" class="text-gray-600 focus:outline-none md:hidden">
        <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
          <path *ngIf="isMenuCollapsed" d="M4 6h16M4 12h16m-7 6h7"></path>
          <path *ngIf="!isMenuCollapsed" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
      <div [ngClass]="{'hidden': isMenuCollapsed, 'md:block': true}" id="menuItems">
        <ul class="md:flex flex-col md:flex-row md:-mx-2">
          <li class="my-1 md:mx-2">
            <div>
              <button class="block px-4 py-2 text-sm font-medium hover:text-gray-900" (click)="toggleTheme()">
                <i *ngIf="theme != Dark" class="fas fa-sun"></i>
                <i *ngIf="theme == Dark" class="fas fa-moon"></i>
              </button>
            </div>
            
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>  
