.Dark  {

    

    div {

        background-color: #141414;
        color: #c2c2c2;
        padding: 0 10px 0 20px;

    }

    /* button {} */


    .toggle-button {

        background-color: #c2c2c2;
        color: #141414;
        border-radius: 20rem;

        }
}

.Light {

    
    div {

        background-color: #c2c2c2;
        color: #141414;
        padding: 0 10px 0 20px;
        

        
    }

    /* button { } */


    .toggle-button {

        background-color: #141414;
        color: #c2c2c2;
        border-radius: 20rem;


        }

        
        

        



    }
    
    
    .Dark div {
        background-color: #141414;
        color: #c2c2c2;
        padding: 0 10px 0 20px;
    }
    
    .Dark .toggle-button {
        background-color: #c2c2c2;
        color: #141414;
        border-radius: 50%; /* Add border radius for rounded corners */
        box-shadow: 0 0 10px 3px rgba(112, 128, 144, 0.5); /* Add glowing outline */
        width: 40px; /* Set button width */
        height: 40px; /* Set button height */
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }
    
    .Light div {
        background-color: #c2c2c2;
        color: #141414;
        padding: 0 10px 0 20px;
    }
    
    .Light .toggle-button {
        background-color: #141414;
        color: #c2c2c2;
        border-radius: 50%; /* Add border radius for rounded corners */
        box-shadow: 0 0 10px 3px rgba(32, 34, 37, 0.5); /* Add glowing outline */
        width: 40px; /* Set button width */
        height: 40px; /* Set button height */
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }
    