.Dark  {

    

    div {

        background-color: #22262b;
        color: #708090;
        padding: 0 10px 0 20px;

    }

    /* button {} */


    .toggle-button {

        background-color: #708090;
        color: #22262b;
        border-radius: 20rem;

        }
}

.Light {

    
    div {

        background-color: #708090;
        color: #22262b;
        padding: 0 10px 0 20px;
        

        
    }

    /* button { } */


    .toggle-button {

        background-color: #22262b;
        color: #bec5d1;
        border-radius: 20rem;


        }

        
        

        



    }
    
    
