<!-- component
<div class="flex min-h-screen items-center justify-center bg-gray-100">
    <div class="w-2/3">
        <div class="bg-white border-slate-100 dark:bg-slate-800 dark:border-slate-500 border-b rounded-t-xl p-4 pb-6 sm:p-10 sm:pb-8 lg:p-6 xl:p-10 xl:pb-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8  items-center">
            <div class="flex items-center space-x-4">
                <img src="https://img.freepik.com/free-psd/square-flyer-template-maximalist-business_23-2148524497.jpg?w=1800&t=st=1699458420~exp=1699459020~hmac=5b00d72d6983d04966cc08ccd0fc1f80ad0d7ba75ec20316660e11efd18133cd" alt="" width="88" height="88" class="flex-none rounded-lg bg-slate-100" loading="lazy" />
                <div class="min-w-0 flex-auto space-y-1 font-semibold">
                    <p class="text-cyan-500 dark:text-cyan-400 text-sm leading-6">
                        <abbr title="Track">Track:</abbr> 05
                    </p>
                    <h2 class="text-slate-500 dark:text-slate-400 text-sm leading-6 truncate">
                        Music: New Album The Lorem
                    </h2>
                    <p class="text-slate-900 dark:text-slate-50 text-lg">
                        Spotisimo
                    </p>
                </div>
            </div>
            <div class="space-y-2">
                <div class="relative">
                    <div class="bg-slate-100 dark:bg-slate-700 rounded-full overflow-hidden">
                        <div class="bg-cyan-500 dark:bg-cyan-400 w-1/2 h-2" role="progressbar" aria-label="music progress" aria-valuenow="1456" aria-valuemin="0" aria-valuemax="4550"></div>
                    </div>
                    <div class="ring-cyan-500 dark:ring-cyan-400 ring-2 absolute left-1/2 top-1/2 w-4 h-4 -mt-2 -ml-2 flex items-center justify-center bg-white rounded-full shadow">
                        <div class="w-1.5 h-1.5 bg-cyan-500 dark:bg-cyan-400 rounded-full ring-1 ring-inset ring-slate-900/5"></div>
                    </div>
                </div>
                <div class="flex justify-between text-sm leading-6 font-medium tabular-nums">
                    <div class="text-cyan-500 dark:text-slate-100">1:75</div>
                    <div class="text-slate-500 dark:text-slate-400">3:20</div>
                </div>
            </div>
        </div>
        <div class="bg-slate-50 text-slate-500 dark:bg-slate-600 dark:text-slate-200 rounded-b-xl flex items-center">
            <div class="flex-auto flex items-center justify-evenly">
                <button type="button" aria-label="Add to favorites">
                    <i class="fas fa-heart"></i>
                </button>
                <button type="button" class="hidden sm:block lg:hidden xl:block" aria-label="Previous">
                    <i class="fas fa-step-backward"></i>
                </button>
                <button type="button" aria-label="Rewind 10 seconds">
                    <i class="fas fa-backward"></i>
                </button>
            </div>
            <button type="button" class="bg-white text-slate-900 dark:bg-slate-100 dark:text-slate-700 flex-none -my-2 mx-auto w-20 h-20 rounded-full ring-1 ring-slate-900/5 shadow-md flex items-center justify-center" aria-label="Pause">
                <i class="fas fa-pause"></i>
            </button>
            <div class="flex-auto flex items-center justify-evenly">
                <button type="button" aria-label="Skip 10 seconds">
                    <i class="fas fa-forward"></i>
                </button>
                <button type="button" class="hidden sm:block lg:hidden xl:block" aria-label="Next">
                    <i class="fas fa-step-forward"></i>
                </button>
                <button type="button" class="rounded-lg text-xs leading-6 font-semibold px-2 ring-2 ring-inset ring-slate-500 text-slate-500 dark:text-slate-100 dark:ring-0 dark:bg-slate-500">
                    1x
                </button>
            </div>
        </div>
    </div>
</div> -->


<!-- <button (click)="getVideoID(SongData.videoId)" (click)="playAudioFromURL()">Play</button>
<button (click)="pauseAudio()">Pause</button>
<button (click)="forwardAudio(10)">Forward 10 seconds</button>
<button (click)="rewindAudio(10)">Rewind 10 seconds</button>
<audio id="audioPlayer" controls></audio> -->

<div  [ngClass]="theme == Dark ? 'Dark' : 'Light'" >

    <div class="container">

<div *ngIf="Searched == false">


    <div class="centered-div">
        <!-- Content of the centered div -->
  
        <div class="background">
          <img [src]="extractSubstring(SongData.thumbnails[0].url)" alt="Album Artwork" id="bg_img" />
      </div>
      <div class="">
          <div class="player_img">
              <img [src]="extractSubstring(SongData.thumbnails[0].url)" id="cover" class="active" />
          </div>
          <h2 id="music_title">{{ SongData.title }}</h2>
          <h3 id="musric_artist" *ngIf="SongData.artists && SongData.artists.length > 1 && SongData.artists[1]?.name" class="info-artist">{{SongData.artists[1].name}}</h3>
          <div class="player_progress" id="player_progress" (click)="setProgressBar($event)">
              <div class="progress" id="progress">
                  <div class="music_duration">
                      <span id="current_time">0:00</span>
                      <span id="duration">0:00</span>
                  </div>
              </div>
          </div>
          <div class="player_controls">
              <i class="fa-solid fa-backward" title="Previous" id="prev" (click)="rewind()"></i>
              <i class="fa-solid fa-play play-button" title="Play" id="play" (click)="togglePlay()"></i>
              <i class="fa-solid fa-forward" title="Next" id="next" (click)="forward()"></i>
          </div>
      </div>
  
      </div>
    <!-- <div class="bg-image flex justify-center items-center h-screen bg-cover bg-center" style="background-image: url('{{ extractSubstring(SongData.thumbnails[0].url) }}'); backdrop-filter: blur(20px);">
    </div>
    <div  class="music-player player bg-gray-100 p-4 rounded-lg shadow-md w-96">
        <div class="info mt-4 flex items-center">
            <img id="albumArt" [src]="extractSubstring(SongData.thumbnails[0].url)" alt="Album Artwork" class="w-24 h-24 rounded-md">
            <div class="details ml-4">
                <h3 id="songTitle" class="text-lg font-bold">{{ SongData.title }}</h3>
                <p id="artistName" class="text-sm ">{{ SongData.artists[1].name }}</p>
            </div>
        </div>
        <div class="progress-bar mt-4">
            <input type="range" id="progressBar" min="0" max="100" [value]="progressValue" disabled class="w-full h-4 bg-blue-300 rounded-full overflow-hidden">
        </div>
        <div class="flex justify-center space-x-4 mt-8">
            <button id="rewindButton" (click)="rewindAudio(10)" class="btn btn-animated bg-gray-500 hover:bg-blue-300 rounded-full focus:outline-none">
                <i class="fas fa-backward"></i>
            </button>
        
            <button id="playButton"  (click)="togglePlayPause()" class=" btn btn-animated bg-gray-500 hover:bg-blue-300 rounded-full focus:outline-none">
                <i class="fas" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i>
            </button>
           
            <button id="forwardButton" (click)="forwardAudio(10)" class="btn btn-animated bg-gray-500 hover:bg-blue-300 rounded-full focus:outline-none">
                <i class="fas fa-forward"></i>
            </button>
        </div>
        <audio #audioPlayer id="audioPlayer" controls hidden></audio>
    </div> -->


</div>


<div *ngIf="Searched == true">
    <!-- <div class="bg-image flex justify-center items-center h-screen bg-cover bg-center" style="background-image: url('{{ NotSongData.thumbnails[0].url }}'); backdrop-filter: blur(20px);">
    </div> -->
    <!--<div  class="music-player player bg-gray-100 p-4 rounded-lg shadow-md w-96">
        <div class="info mt-4 flex items-center">
            <img id="albumArt" [src]="extractSubstring(NotSongData.thumbnails[0].url)" alt="Album Artwork" class="w-24 h-24 rounded-md">
            <div class="details ml-4">
                <h3 id="songTitle" class="text-lg font-bold">{{ NotSongData.title }}</h3>
                <p id="artistName" class="text-sm ">{{ NotSongData.artists[1].name }}</p>
            </div>
        </div>
        <div class="progress-bar mt-4">
            <input type="range" id="progressBar" min="0" max="100" [value]="progressValue" disabled class="w-full h-4 bg-blue-300 rounded-full overflow-hidden">
        </div>
        <div class="flex justify-center space-x-4 mt-8">
            <button id="rewindButton" (click)="rewindAudio(10)" class="btn btn-animated bg-gray-500 hover:bg-blue-300 rounded-full focus:outline-none">
                <i class="fas fa-backward"></i>
            </button>
        
            <button id="playButton" (click)="togglePlayPause()" class="btn btn-animated bg-gray-500 hover:bg-blue-300 rounded-full focus:outline-none">
                <i class="fas" [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"></i>
            </button>
           
            <button id="forwardButton" (click)="forwardAudio(10)" class="btn btn-animated bg-gray-500 hover:bg-blue-300 rounded-full focus:outline-none">
                <i class="fas fa-forward"></i>
            </button>
        </div>
        <audio #audioPlayer id="audioPlayer" controls hidden></audio>
    </div>
</div> -->



    <div class="centered-div">
      <!-- Content of the centered div -->

      <div class="background">
        <img [src]="extractSubstring(NotSongData.thumbnails[0].url)" alt="Album Artwork" id="bg_img" />
    </div>
    <div class="">
        <div class="player_img">
            <img [src]="extractSubstring(NotSongData.thumbnails[0].url)" id="cover" class="active" />
        </div>
        <h2 id="music_title">{{ NotSongData.title }}</h2>
        <h3 id="musric_artist" *ngIf="NotSongData.artists && NotSongData.artists.length > 1 && NotSongData.artists[1]?.name" class="info-artist">{{NotSongData.artists[1].name}}</h3>
        <div class="player_progress" id="player_progress" (click)="setProgressBar($event)">
            <div class="progress" id="progress">
                <div class="music_duration">
                    <span id="current_time">0:00</span>
                    <span id="duration">0:00</span>
                </div>
            </div>
        </div>
        <div class="player_controls">
            <i class="fa-solid fa-backward" title="Previous" id="prev" (click)="rewind()"></i>
            <i class="fa-solid fa-play play-button" title="Play" id="play" (click)="togglePlay()"></i>
            <i class="fa-solid fa-forward" title="Next" id="next" (click)="forward()"></i>
        </div>
    </div>

    </div>

  
      



    




</div>

</div>

</div>