/* Common styles for .music-card and .book-card */
.music-card,
.book-card {
  padding: 50px 10px 20px 20px;
}

/* Common styles for .button-86 */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button {
  background-color: #7d8794; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

/* Dark mode styles */
.Dark {
  /* Common card styles */
  .music-card {
    background-color: #b6c0ca;
    color: #2d333a;
  }

  .book-card {
    background-color: #2d333a;
    color: #b6c0ca;
  }

  /* Button styles */
  .Dark .button-86 {
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
  }

  .Dark .button-86:hover {
    background-color: #28282d;
    color: #ffffff;
  }
}

/* Light mode styles */
.Light {
  /* Common card styles */
  .music-card {
    background-color: #2d333a;
    color: #b6c0ca;
  }

  .book-card {
    background-color: #b6c0ca;
    color: #2d333a;
  }

  /* Button styles */
  .Light .button-86 {
    color: #2d333a;
    border: 1px solid #2d333a;
    border-radius: 5px;
  }

  .Light .button-86:hover {
    background-color: #b6c0ca;
    color: #ffffff;
  }
}
