
<div class="mx-auto" [ngClass]="theme == Dark ? 'Dark' : 'Light'" >


    <div class="row no-gutters">
        <div class="col-lg-6">
          <img class="w-100 shadow" src="assets/Images/Books.jpg" />
        </div>
        <div class="col-lg-6">
          <div class="book-card">
            <h1 class="text-3xl md:text-5xl font-bold mb-6">Welcome to Our Reading Books Site</h1>
            <p class="text-lg md:text-xl mb-8">Explore our vast collection of books covering various genres and topics. Whether you're into fiction, non-fiction, or academic literature, we have something for everyone.</p>
            <p class="text-lg md:text-xl mb-8">Start your reading journey today!</p>
            <div>
              <button>
                <a class="button-86" routerLink="/books" routerLinkActive="active">Explore Books</a>
              </button>
            </div>
          </div>
        </div>
      </div>
      
 


        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="music-card">
                    <h1 class="text-3xl md:text-5xl font-bold mb-6">Listen to Music While Reading</h1>
                    <p class="text-lg md:text-xl mb-8">Enhance your reading experience with our curated music playlists. Select a genre or mood, and immerse yourself in the perfect soundtrack while you read.</p>
                    <p class="text-lg md:text-xl mb-8">Discover new music to accompany your reading sessions!</p>
                    <button>
                        <a class="button-86" routerLink="/music" routerLinkActive="active">Explore Music</a>
                    </button>
                </div>
              </div>
          <div class="col-lg-6">
            <img class="w-100 shadow" src="assets/Images/Musics.jpg" />
          </div>
          
      </div>

    


</div>


