<div class="background">
    <img src="imgs_audio/img-1.jpg" id="bg_img" />
  </div>
  <div class="container">
    <!--===============Player Image================= -->
    <div class="player_img">
      <img src="imgs_audio/img-1.jpg" id="cover" class="active" />
    </div>
    <!--============Player Content -->
    <h2 id="music_title">Capital Letters</h2>
    <h3 id="musric_artist">Lorem, ipsum dolor.</h3>
    <!--==============Player Progress & Timer -->
    <div class="player_progress" id="player_progress" (click)="setProgressBar($event)">
      <div class="progress" id="progress">
        <div class="music_duration">
          <span id="current_time">0:00</span>
          <span id="duration">0:00</span>
        </div>
      </div>
    </div>
    <!--==============Player Controllers -->
    <div class="player_controls">
      <i class="fa-solid fa-backward" title="Previous" id="prev" (click)="rewind()"></i>
      <i class="fa-solid fa-play play-button" title="Play" id="play" (click)="togglePlay()"></i>
      <i class="fa-solid fa-forward" title="Next" id="next" (click)="forward()"></i>
    </div>
  </div>
  