
.Dark  {

        background-color: #222222;
        color: #e0e0e0;
        padding: 1rem;
        height: 100%;

    
}

.Light {


        background-color: #e0e0e0;
        color: #222222;
        padding: 1rem;
        height: 100%;

    
    
}