
.Dark  {

        background-color: #2d333a;
        color: #b6c0ca;
        padding: 1rem;
        height: 100%;

    
}

.Light {


        background-color: #b6c0ca;
        color: #2d333a;
        padding: 1rem;
        height: 100%;

    
    
}