.thumbnail-container {
    width: 100%; /* Set width to 100% to fill the container */
    height: 200px; /* Set a fixed height for the thumbnail container */
    overflow: hidden; /* Hide any overflow */
  }
  
  .thumbnail-container img {
    width: 100%; /* Set the image width to 100% */
    height: 100%; /* Set the image height to 100% */
    object-fit: cover; /* Ensure the image covers the entire container without distortion */
  }
  

  .fallback-image {
    /* Add CSS properties to style the fallback image */
    /* For example: */
    width: 100px;
    height: 100px;
}


::ng-deep .mat-paginator-page-size-select {
    width: 27px!important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent;
}

::ng-deep .mat-select-value {
  color: #005999;
    font-weight: bold;
    font-size: 15px;
}
::ng-deep .mat-select-arrow {
    color: #005999;
}
::ng-deep .mat-option{
  padding: 0!important;

}
::ng-deep .mat-option-text {

    text-align: right;
}

.fa-flag:hover {
  color: rgb(71, 92, 122);
}


.spinner {
  border: 6px solid rgba(255, 255, 255, 0.3); /* Adjust border width and color for visibility */
  border-top-color: #333; /* Color of the spinner */
  border-radius: 50%;
  width: 60px; /* Increase the size of the spinner */
  height: 60px; /* Increase the size of the spinner */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
  z-index: 9999; /* Ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}



.custom-search {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.custom-search .flex-grow {
  flex-grow: 1;
}

.custom-search .border {
  border-width: 1px;
}

.custom-search .border-gray-300 {
  border-color: #CBD5E0;
}

.custom-search .rounded-md {
  border-radius: 0.375rem;
}

.custom-search .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.custom-search .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.custom-search .mr-2 {
  margin-right: 0.5rem;
}

.custom-search .focus\:outline-none:focus {
  outline: none;
}

.custom-search .focus\:border-blue-500:focus {
  border-color: #4299E1;
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
}

.custom-search .btn-search {
  background-color: #4299E1;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-search .btn-search:hover {
  background-color: #2B6CB0;
}


@media (max-width: 300px) {
  .custom-search .searchbar {
      width: calc(100% - 60px); /* Adjust the width as needed */
  }
}


@media (max-width: 500px) {


  #searhInput {
    min-width: 230px;
  }
  .custom-search .btn-search {
      display: none;
  }

  .custom-search .icon-search {
      display: inline-block;
      width: 50px; /* Adjust according to your icon size */
      height: 50px; /* Adjust according to your icon size */
      background-image: url('search.png'); 
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
  }
}


.custom-search {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-bottom: 1rem;
}

.custom-search .searchbar {
  flex-grow: 1;
  border: 1px solid #CBD5E0;
  border-radius: 0.375rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.custom-search .btn-search {
  background-color: #4299E1;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 350px) {
  .custom-search .searchbar {
      width: calc(100% - 70px); /* Adjust as needed */
  }
}



.Dark  {

  background-color: #2d333a;
  color: #b6c0ca;
  padding: 1rem;
  height: 100%;

  .dark-theme {
    background-color: #2d333a;
    color: #b6c0ca;
}

.song-card {
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.thumbnail-container img {
    width: 100%;
    border-radius: 8px;
}


.song-info {
  padding: 20px;
}





.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.song-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}



.song-info p {
    color: #ccc;
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn-play,
.btn-download {
    background-color: #6f7377;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-play:hover,
.btn-download:hover {
    background-color: #455c75;
}






}

.Light {


  background-color: #b6c0ca;
  color: #2d333a;
  padding: 1rem;
  height: 100%;

  .dark-theme {
    background-color: #b6c0ca;
    color: #2d333a;
}

.song-card {
    background-color: #858a8f;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.5);
}

.thumbnail-container img {
    width: 100%;
    border-radius: 8px;
}


.song-info {
  padding: 20px;
}





.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.song-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.song-info p {
    color: #4d4d4d;
    font-size: 14px;
}



.btn-play,
.btn-download {
    background-color: #9da4ad;
    color: #4d4b4b;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-play:hover,
.btn-download:hover {
    background-color: #717983;
}




}